{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <h3>Sign In | <a href="{{ url_for('register') }}">Register</a></h3>
  <div class="row">
    <div class="col-sm-3">
      {{ wtf.quick_form(form) }}
    </div>
  </div>
  <!--  original form html:
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.username.label }}<br>
      {{ form.username(size=32) }}<br>
      {% for error in form.username.errors %}
      <span style="color: red;">{{ error }}</span>
      {% endfor %}
    </p>
    <p>
      {{ form.password.label}}<br>
      {{ form.password(size=32) }}<br>
      {% for error in form.password.errors %}
      <span style="color: red;">{{ error }}</span>
      {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit() }}</p>
  </form> -->
  <br>
  <p><a href="{{ url_for('reset_pw_request') }}">Forgot your password?</a></p>
{% endblock %}
