{% extends "base.html" %}

{% block content %}
  <h1>Reset password</h1>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.pw.label }}<br>
      {{ form.pw(size=32) }}<br>
      {% for error in form.pw.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.pw2.label }}<br>
      {{ form.pw2(size=32) }}<br>
      {% for error in form.pw2.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}
